/*  your css code here. If applicable */

#container{
  width:200px;
  padding:30px;
  background-color:#f5f5f5;
  border-radius:10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2)
  
}

.image{
	width:100%;
	
}
.title{
	 margin:0;
	 text-align:center;
}
.price{
	 margin:0;
	text-align:center
}
.description{
	 margin:0;
	text-align:center
}

.btn{
	color:#fff;
	background-color:red;
	padding:10px;
	border:none;
	border-radius:5px;
	display:block;
	margin:10px auto;
	
}



